@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
}


/* ------ALL Fonts--------- */
h1 {
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
h2 {
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.88px;
}
h3{
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 50px */
  letter-spacing: -1px;
}
h4{
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
}
h5 {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
h6 {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.p1{
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
p{
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.bold1{
  font-weight: 400;
}
.bold2{
  font-weight: 500;
}
.bold3{
  font-weight: 600;
}
.bold4{
  font-weight: 700;
}
.bold5{
  font-weight: 800;
}
strong{
  font-weight: 600;
}
span {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.36px;
}
.span1 {
  font-size: 14px;
}
.breadcrum_text {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

/* ------Component CSS--------- */
.container {
  max-width: 1184px !important;
  margin-left: auto;
  margin-right: auto;
}

/* ------All Shadow--------- */

.shadow-lg{
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03) !important;
}
.shadow-sm{
  box-shadow: 0px 1px 3px 0px rgba(16, 24, 40, 0.10), 0px 1px 2px 0px rgba(16, 24, 40, 0.06) !important;
}
.shadow-xs {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
}

/* ------Header--------- */

.Header_nav_bar {
  width: 100%;
  position: sticky;
  transition: all 0.7s;
}
.Header_nav_bar {
  height: 101px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF8ED;
}
.flag_button {
  display: flex;
  justify-content: space-between;
  width: 180px;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}
.flag_dropdown_menu {
  position: absolute;
  margin-top: 4px;
  width: 100%;
  background: #FFF;
  border-radius: 6px;
  overflow: hidden;
  z-index: 10;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


/* ------Hero Section--------- */
.search_box {
  display: flex;
  width: 750px;
  height: 56px;
  padding: 12px 14px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
input {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  outline: none;
}

/* ------FAQ--------- */
.faq_search {
  flex: 1 0 0;
  overflow: hidden;
  color: #1A1A1A;
  text-overflow: ellipsis;
}



/* ------Side Bar--------- */
.side_bar_nav_item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 280px;
}

.side_bar {
  position: sticky;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.7s;
  max-height: calc(100vh - 72px);
  width: 460px;
}

.side_bar::before{
  content: "";
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 25%, rgba(255, 255, 255, 0) 97.22%);
  height: 36px;
  width: 270px;
  position: fixed;
}

.side_bar_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.side_bar_nav_items {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.side_bar_nav_item_catagory {
  display: flex;
  height: 40px;
  width: 280px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0px 12px;
  flex: 1 0 0;
  border-radius: 6px;
  background: #FFF;
}

.category_name {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
}

.sub_nav_bar_menu {
  display: flex;
  width: 256px;
  align-items: center;
}

.sub_category_box{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
}

.sub_nav_bar_menu_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  border-left: 1px solid #D6D6D6;
}

.sub_nav_bar_menu_item {
  display: flex;
  padding: 0px 8px 0px 26px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 0px 8px 8px 0px;
  position: relative;
}
.sub_cat_logo {
  width: 28px;
  height: 36px;
  position: absolute;
  left: 0;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
}


/* ------Help Doc--------- */
.help_doc_items {
  display: flex;
  width: 244px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.help_doc_item {
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
}




/* ------Responsive Mobile--------- */
.side_bar_mobile_icon_box {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 174px;
  border-radius: 0  8px 8px 0;
  background: linear-gradient(45deg, #F58220 5.77%, #D42427 96.77%);
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.11) 100%), #121212; */
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}
.side_bar_icon {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}

.mobile_side_bar_box{
  flex-direction: column;
  align-items: flex-start;
  width: 328px;
  position: fixed;
  top: 174px;
}
.mobile_side_bar_box_header{
  display: flex;
  height: 52px;
  padding: 8px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  /* background: linear-gradient(45deg, #F58220 5.77%, #D42427 96.77%); */
  background: #FFF8ED;
}
.mobile_side_bar_box_header_title{
  display: flex;
  padding: 5px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.mobile_side_bar_box_header_icon{
  display: flex;
  width: 36px;
  height: 36px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.mobile_side_bar_list {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 24px 24px;
  gap: 16px;
  align-self: stretch;
  background: #FFF;
}




/* ----------BreadCrum-------- */
.breadcrum_box {
  display: flex;
  padding: 16px 96px 16px 48px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #C0C0C0;
  background: #FFF;
}

.breadcrum_items {
  align-items: center;
  gap: 10px;
}

.search_bar_box {
  max-width: 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.search_bar_box_mobile {
  display: flex;
  width: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.breadcrum_search_bar {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.breadcrum_search_icon_mobile {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.breadcrum_search_box {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}

.breadcrum_search {
  width: 100%;
  color:#1A1A1A;
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}


/* ------content body------- */
.content_body {
  display: flex;
  padding: 48px 96px 0px 126px;
  flex-direction: column;
  align-items: flex-start;
  gap: 170px;
  align-self: stretch;
}
.contant_body_grid_content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 24px;
  row-gap: 48px;
  max-width: 1144px;
}
.content_cards_body {
  display: flex;
  max-width: 1144px;
  padding-bottom: 96px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.content_body_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.content_card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}
.content_card_header{
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 12px 12px 0px 0px;
  border: 1px solid #EAECF0;
  background:#FFF8ED;
}
.content_card_title{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.content_card_text{
  display: flex;
  align-items: center;
  gap: 12px;
}
.content_card_icon {
  display: inline-block;
  padding: 2px 10px;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #7A3314;
  /* background: #7A3314; */
}
.card_category_list {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-right: 1px solid #EAECF0;
  border-bottom: 1px solid #EAECF0;
  border-left: 1px solid #EAECF0;
}
.category_list_title {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-self: stretch;
}

.content_card_footer {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 0px 0px 12px 12px;
  border-right: 1px solid #EAECF0;
  border-bottom: 1px solid #EAECF0;
  border-left: 1px solid #EAECF0;
  background: #F4F6F8;
}
.content_card_footer_text{
  display: flex;
  align-items: center;
  gap: 8px;
}
.content_card_footer_icon{
  display: flex;
  width: 28px;
  height: 28px;
  padding: 8.167px 4.667px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}


/* ------sub_category_container-------- */
.sub_category_container {
  display: flex;
  padding: 48px 96px 96px 126px;
  align-items: flex-start;
  gap: 170px;
  align-self: stretch;
}
.sub_category_items {
  display: flex;
  max-width: 1048px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}
.sub_category_box_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #C0C0C0;
  overflow: hidden;
}
.sub_category_box_item{
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.sub_category_box_item_title{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.sub_category_box_item_title_icon{
  display: flex;
  width: 28px;
  height: 28px;
  padding: 8.167px 4.667px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
.sub_category_box_item_paragraph{
  overflow: hidden;
  color: #676767;
  text-overflow: ellipsis;
}

/* ---------pagination-------- */
.prev_button {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.mobile.prev_button {
  padding: 8px;
}
.mobile.next_button {
  padding: 8px;
}
.next_button {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.mobile_pagination{
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}


/*----- details Page ------ */

.details_page {
  display: flex;
  padding: 48px 96px 96px 126px;
  align-items: flex-start;
  gap: 170px;
  align-self: stretch;
}
.details_page_contents{
  display: flex;
  /* width: 852px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.details_page_content_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}
.documantation_details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;
  align-self: stretch;
}
.documantation_details_header{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.update_details_button{
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid #CBD5E1;
  background: #FFF;
}
.last_update {
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  background: #FFF;
}
.documantation_details_section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.review_section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 16px;
  border-radius: 11px;
  background: #F9FAFB;
}
.review_section_button{
  display: inline-flex;
  padding: 6px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #C0C0C0;
  /* background: #FFF; */
}
.pagiantion_sections {
  display: flex;
  padding-top: 40px;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-top: 1px solid #C0C0C0;
}
.pagiantion_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.pagination_button{
  display: flex;
  align-items: center;
  gap: 6px;
}

.topic_list_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.topic_lists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-left: 1px solid #D0D5DD;
}
.topic_list_item{
  display: flex;
  padding: 4px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.related_articles_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.related_article_item {
  display: flex;
  padding: 8px 16px 8px 0px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.documantation_paragraph_section {
  word-break: break-word;
  overflow-wrap: break-word;
}

.documantation_paragraph_section img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin: 1rem 0;
}
iframe {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: 50rem;
  height: 20rem;
  display: block;
  margin: 1rem 0;
  
}










/* xs: 0px to 639px */
@media (max-width: 639px) {
  .logo_text {
    font-size: 14px;
  }
  .logo_size {
    width: 70%;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 40px;
  }
  .search_box {
    width: 350px;
  }
  .popular_search_data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .side_bar {
    padding-left: 20px;
  }
  .breadcrum_box {
    padding-right: 20px;
    padding-left: 16px;
  }
  
  .content_body {
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
  .contant_body_grid_content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 24px;
    row-gap: 24px;
  }

  /* .sub_category_container */
  .sub_category_container{
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
  /*----- details Page ------ */
  .details_page {
    padding-left: 20px;
    padding-right: 20px;
    gap: 0;
    align-items: center;
  }
  .last_update {
    padding: 8px 0px;
  }
}

/* sm: 640px to 767px */
@media (min-width: 640px) and (max-width: 767px) {
  .logo_text {
    font-size: 16px;
  }
  h1 {
    font-size: 40px;
  }
  .search_box {
    width: 500px;
  }


  .side_bar {
    padding-left: 20px;
  }
  .side_bar::before{
    width: 236px;
  }


  .logo_size {
    width: 245px;
  }

  .breadcrum_box {
    padding-right: 20px;
    padding-left: 16px;
  }

  
  .content_body {
    padding-left: 24px;
    padding-right: 12px;
    align-items: center;
  }
  .contant_body_grid_content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 24px;
    row-gap: 24px;
  }

  /* .sub_category_container */
  .sub_category_container{
    padding-left: 24px;
    padding-right: 12px;
  }
  /*----- details Page ------ */
  .details_page {
    padding-left: 24px;
    padding-right: 12px;
    gap: 16px;
  }
  .last_update {
    padding: 8px 0px;
  }
  .p1{
    font-size: 16px;
  }

}

/* md: 768px to 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .logo_text {
    font-size: 16px;
  }
  h1 {
    font-size: 40px;
  }
  .search_box {
    width: 650px;
  }


  .side_bar {
    padding-left: 24px;
  }
  .side_bar::before{
    width: 232px;
  }


  .Header_nav_bar {
    height: 72px !important;
  }
  .logo_size {
    height: 40px;
  }
  .px_Header {
    padding-left: 48px !important;
    padding-right: 48px !important;
  }

  .breadcrum_box {
    padding-right: 24px;
    padding-left: 12px;
  }

  
  .content_body {
    padding-left: 48px;
    padding-right: 24px;
  }
  .contant_body_grid_content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 24px;
    row-gap: 24px;
  }

  /* .sub_category_container */
  .sub_category_container{
    padding-left: 48px;
    padding-right: 24px;
  }
  /*----- details Page ------ */
  .details_page {
    padding-left: 48px;
    padding-right: 24px;
    gap: 24px;
  }

  .p1{
    font-size: 16px;
  }
}
/* lg: 1024px to 1279px */
@media (min-width: 1024px) and (max-width: 1279px) {
  .side_bar {
    padding-left: 48px;
  }
  .side_bar::before{
    width: 248px;
  }
  

  .logo_text {
    font-size: 20px;
  }
  .logo_size {
    height: 40px;
  }
  .Header_nav_bar {
    height: 72px !important;
  }
  .px_Header {
    padding-left: 48px !important;
    padding-right: 48px !important;
  }

  .breadcrum_box {
    padding-right: 48px;
    padding-left: 24px;
  }
  

  .content_body {
    padding-left: 48px;
    padding-right: 24px;
  }
  .contant_body_grid_content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 24px;
    row-gap: 24px;
  }

   /* .sub_category_container */
  .sub_category_container{
    padding-left: 48px;
    padding-right: 24px;
  }
  /*----- details Page ------ */
  .details_page {
    padding-left: 48px;
    padding-right: 24px;
    gap: 48px;
  }
  .p1{
    font-size: 16px;
  }
}

/* xl: 1280px to 1535px */
@media (min-width: 1280px) and (max-width: 1599px) {
  .side_bar {
    padding-left: 48px;
  }
  .side_bar::before{
    width: 248px;
  }


  .logo_text {
    font-size: 20px;
  }
  .logo_size {
    height: 40px !important;
  }
  .Header_nav_bar {
    height: 72px !important;
  }
  .px_Header {
   padding-left: 48px !important;
   padding-right: 48px !important;
  }

  
  .breadcrum_box {
    padding-right: 48px;
    padding-left: 24px;
  }

  .content_body {
    padding-left: 96px;
    padding-right: 48px;
  }

  /* .sub_category_container */
  .sub_category_container{
    padding-left: 48px;
    padding-right: 48px;
  }

  /*----- details Page ------ */
  .details_page {
    padding-left: 96px;
    padding-right: 48px;
    gap: 92px;
  }
  .p1{
    font-size: 16px;
  }
}

/* 2xl: 1536px and above */
@media (min-width: 1600px) {
  .side_bar {
    padding-left: 96px;
  }
  .logo_size {
    width: 220px;
  }
  .px_Header {
   padding-left: 96px !important;
   padding-right: 96px !important;
  }
}